.text-center
  %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/KRFMM4duLHg?rel=0", :width => "560"}
